@model IEnumerable<DataMorishetty.Models.EventT>

@{
    ViewData["Title"] = "Index";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            Event Location
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Place)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.EventID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.EventID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.EventID">Delete</a>
        </td>
    </tr>
}
</table>
